{% extends "kasse/base.html" %}
{% load staticfiles %}
{% load kasse_extras %}
{% block head %}
<link rel="stylesheet" href="{% static "stopwatch/stopwatch.css" %}" />
<style>
.timelinerow { display: flex; }
.timelinerow > .name { display: flex; width: 200px; }
.timelinerow > .legs { display: flex; width: 500px; }
.timelinerow > .legs > .leg { text-align: right }
.timelinerow > .legs > .leg:nth-child(odd) {
	background-color: #ccc;
}
.timelinerow > .legs > .leg:last-child {
	border-right: 1px solid black;
}
</style>
{% endblock %}
{% block content %}
<h1>Tidslinje</h1>
{% for object in object_list %}
<div class="timelinerow">
<div class="name">
<a href="{{ object.get_absolute_url }}">
{{ object.profile }}
</a>
</div>
<div class="legs">
{% for leg in object.leg_set.all %}
<div class="leg" style="width: {% ratio leg.duration duration 100 %}%"
title="Øl {{ leg.order }} færdig efter {{ leg.duration_prefix_sum }} s">
{{ leg.order }}
</div>
{% endfor %}
</div>
</div>
{% endfor %}
{% endblock %}
