{% load kasse_extras %}
<div class="ttl_table">
<table cellspacing="0" class="{{ table_class }}">
<tbody>
{% for object in timetrial_list %}
{% ifchanged object.start_time.date %}
<tr class="ttl_new_date">{% else %}
<tr>{% endifchanged %}
<td class="ttl_duration">
{% if object.result %}
{% if bestlinks %}
<a href="{{ object.leg_count }}/">{{ object.leg_count }} øl</a>
{% else %}
{{ object.leg_count }} øl
{% endif %}
på
<a href="{% url "timetrial_detail" pk=object.pk %}" class="timetrial_link">
{{ object.duration|display_duration }}</a>
{% else %}
<a href="{% url "timetrial_live" pk=object.pk %}" class="timetrial_link">
{{ object.get_state_display }}
</a>
{% endif %}
{% if object.result != 'f' %}
<span class="ttl_result_{{ object.result }}">
{{ object.get_result_mark }}
</span>
{% endif %}
</td>
<td class="ttl_profile">{{ object.profile|display_profile }}</td>
<td class="ttl_start_time">{{ object.start_time|default_if_none:"(dato ukendt)" }}</td>
{% if object.residue %}
<td class="ttl_residue">{{ object.residue }} cL</td>
{% else %}
<td class="ttl_residue ttl_residue_unknown">&mdash;</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
