{% extends "kasse/base.html" %}
{% load staticfiles %}
{% load kasse_extras %}
{% block head %}
<link rel="stylesheet" href="{% static "stopwatch/stopwatch.css" %}" />
<style>
.timelinerow {
	display: flex;
}
.timelinerow div > div:nth-child(odd) {
	background-color: #ccc;
}
.timelinerow div > div:last-child {
	border-right: 1px solid black;
}
.timelinerow > div {
	display: flex;
}
</style>
{% endblock %}
{% block content %}
<h1>Tidslinje</h1>
{% for object in object_list %}
<div class="timelinerow">
<div style="width: 200px">
<a href="{{ object.get_absolute_url }}">
{{ object.profile }}
</a>
</div>
<div style="width: 500px">
{% for leg in object.leg_set.all %}
<div style="width: {{ leg.duration|pct:duration }}%; text-align: right"
title="Øl {{ leg.order }} færdig efter {{ leg.duration_prefix_sum }} s">
{{ leg.order }}
</div>
{% endfor %}
</div>
</div>
{% endfor %}
{% endblock %}
