{% extends "kasse/base.html" %}
{% load staticfiles %}
{% load kasse_extras %}
{% block title %}Stopur{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static "stopwatch/stopwatch.css" %}" />
<script>
function reverse(name, pk) {
    if (name == "timetrial_liveupdate") {
        var url = "{% url "timetrial_liveupdate" pk=12345 %}";
        return url.replace('12345', pk);
    }
    return null;
}
{% if do_post %}
var post_pk = {{ object.pk }};
{% else %}
var post_pk = null;
{% endif %}
{% if state %}
var initial_state = ({{ state }});
{% else %}
var initial_state = null;
{% endif %}
{% if do_fetch %}
var fetch_pk = {{ object.pk }};
{% else %}
var fetch_pk = null;
{% endif %}
</script>
<script src="{% static "stopwatch/stopwatch.js" %}"></script>
{% endblock %}
{% block content %}
<h1>{% kasse_home %}Stopur</h1>
{% if object %}
<p>{{ object.profile|display_profile }}</p>
{% endif %}
<div id="stopwatch" class="initial">
<div id="time">0:00:00.00</div>
{% if not do_fetch %}
<div id="buttons">
<button id="start" autofocus>Start</button>
<button id="stop">Stop</button>
<button id="continue">Fortsæt</button>
<button id="reset">Nulstil</button>
<button id="lap">Færdig med øl 1</button>
</div>
{% else %}
<div id="buttons">
<button id="live">Live</button>
</div>
{% endif %}
<div id="laps"></div>
</div>
{% if object %}
<form method="post" id="stopwatch_form">{% csrf_token %}
{% else %}
<form method="get" id="stopwatch_form" action="{% url 'timetrial_create' %}">
{% endif %}
    <input type="hidden" name="durations" />
    <input type="hidden" name="start_time" />
    {% if not do_fetch %}
    <p>Total rest (cL): {{ form.residue }}</p>
    <p>Kommentar: {{ form.comment }}</p>
    <p><label><input type="checkbox" name="dnf" /> DNF</label></p>
    <p><input type="submit" value="Indsend tid" /></p>
    {% endif %}
</form>
{% endblock %}
