{% extends "kasse/base.html" %}
{% load staticfiles %}
{% load kasse_extras %}
{% load assets %}
{% block title %}Stopur{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "stopwatch/stopwatch.css" %}" />
<script>
function reverse(name, pk) {
    if (name == "timetrial_liveupdate") {
        var url = "{% url "timetrial_liveupdate" pk=12345 %}";
        return url.replace('12345', pk);
    }
    return null;
}
var is_kasse_i_kass = {{ object.is_kasse_i_kass|yesno:"true,false" }};
{% if do_post %}
var post_pk = {{ object.pk }};
{% else %}
var post_pk = null;
{% endif %}
{% if state %}
var initial_state = ({{ state }});
{% else %}
var initial_state = null;
{% endif %}
{% if do_fetch %}
var fetch_pk = {{ object.pk }};
{% else %}
var fetch_pk = null;
{% endif %}
var time_attack = ((initial_state === null) ?
	null : initial_state['time_attack']);
</script>
<script>
// Picture element HTML5 shiv
document.createElement( "picture" );
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
{% assets "stopwatch" %}
<script type="text/javascript" src="{{ ASSET_URL }}" async></script>
{% endassets %}
<style>
#id_legs {
    width: 3em;
}
.list-item-with-checkbox {
    list-style-type: none;
}
.list-item-with-checkbox input[type=radio] {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 6px 0.25em -20px;
    width: 14px;
    vertical-align: middle;
}
</style>
{% endblock %}
{% block content %}
<div id="stopwatch" class="initial">
<h1>
{% if object %}
{{ object.profile|display_profile_plain }}
{% else %}
Stopur
{% endif %}
</h1>
<div id="time">0:00:00.00</div>
{% if not do_fetch %}
<div id="buttons">
<button id="start" autofocus>Start</button>
<button id="continue">Fortsæt</button>
<button id="lap">Færdig med øl 1</button>
</div>
{% else %}
<div id="buttons">
<button id="live">Live</button>
</div>
{% endif %}
<div id="laps"></div>
</div>
{% if object %}
<form method="post" id="stopwatch_form" enctype="multipart/form-data">
{% csrf_token %}
{% else %}
<form method="get" id="stopwatch_form" action="{% url 'timetrial_create' %}">
{% endif %}
    <input type="hidden" name="durations" />
    <input type="hidden" name="start_time" />
    {% if not do_fetch %}
    <p>
    <button id="stop">Stop</button>
    </p>
    <p>Total rest (cL): {{ form.residue }}</p>
    <p>Kommentar: {{ form.comment }}</p>
    <ul>
    {% for option in form.result %}
    <li class="list-item-with-checkbox">{{ option }} {{ option.errors }}</li>
    {% endfor %}
    </ul>
    <p>Ølmærke: {{ form.beverage }}</p>
{% if object %}
    <p>Billede: <input type="file" id="take-picture" accept="image/*" name="images" multiple /></p>
    <div id="pictures"></div>
{% endif %}
    <p>
    <input type="submit" value="Indsend tid" class="submit-stopwatch" />
    </p>
    <p>
    <input type="button" value="Nulstil" class="reset-stopwatch"
    id="reset" />
    </p>
    {% endif %}
</form>
<div id="residual-guide">
    <img sizes="(min-width: 640px) 640px, 100vw" srcset="
    {% static "stopwatch/vaeske360.jpg" %} 360w,
    {% static "stopwatch/vaeske720.jpg" %} 720w,
    {% static "stopwatch/vaeske1080.jpg" %} 1080w,
    {% static "stopwatch/vaeske1440.jpg" %} 1440w,
    {% static "stopwatch/vaeske640.jpg" %} 640w,
    {% static "stopwatch/vaeske1280.jpg" %} 1280w,
    {% static "stopwatch/vaeske1920.jpg" %} 1920w,
    {% static "stopwatch/vaeske3256.jpg" %} 3256w"
    />
</div>
<pre id="stopwatchlog"></pre>
{% endblock %}
