{% extends "kasse/base.html" %}
{% block title %}
{% if list_legs %}
Bedste tider ({{ list_legs }} øl)
{% else %}
Seneste tider
{% endif %}
{% endblock %}
{% load kasse_extras %}
{% block content %}
{% if list_legs %}
<h1>Bedste tider ({{ list_legs }} øl) {% if association %}({{ association }}){% endif %}</h1>
{% include "stopwatch/timetrialtable.html" with timetrial_list=timetrial_list only %}
{% else %}
<h1>Seneste tider {% if association %}({{ association }}){% endif %}</h1>
{% include "stopwatch/timetrialtable.html" with timetrial_list=timetrial_list table_class='ttl_all' only %}
{% endif %}
{% endblock %}
