*.sqlite3
*.swp
*.pyc
/kasse/settings/__init__.py
stopwatch/static/stopwatch/vaeske480.jpg
stopwatch/static/stopwatch/vaeske960.jpg
stopwatch/static/stopwatch/vaeske1440.jpg
stopwatch/static/stopwatch/vaeske1920.jpg
