Django==1.11.2
wheel==0.29.0
django-ipware==1.1.6
requests==2.18.1
https://github.com/pythonforfacebook/facebook-sdk/archive/master.zip#egg=facebook-sdk
django-multiupload==0.5.2
Pillow==4.1.1
sorl-thumbnail==12.3
django-assets==0.12
dukpy==0.1.0
jsmin==2.2.2
webassets==0.12.1
