{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>
{% block fulltitle %}{% block title %}{% endblock %} - En kasse i en festforening{% endblock %}
</title>
<link rel="stylesheet" href="{% static "kasse/style.css" %}" />
{% block head %}
{% endblock %}
</head>
<body>
<nav>
<ul class="container">
<a href="{% url 'home' %}">
<li>
En kasse i en festforening
</li>
</a>
{% if user.is_superuser %}
<a href="{% url 'log' %}" class="adminlink">
<li>
Log
</li>
</a>
<a href="{% url 'admin:stopwatch_timetrial_changelist' %}" class="adminlink">
<li>
Time trials
</li>
</a>
{% endif %}
</ul>
</nav>
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>
