{% extends "kasse/base.html" %}
{% load kasse_extras %}
{% block content %}
<h1>En kasse i en festforening</h1>
<p>
En gammel tradition mellem
<a href="http://www.TAAGEKAMMERET.dk">TÅGEKAMMERET</a>
og <a href="http://www.alkymia.dk/">@lkymia</a>.
Hvor hurtigt kan én person drikke 5 øl?
Seks personer en kasse?
</p>
{% if user.is_authenticated %}
<form method="post" action="{% url "logout" %}" style="margin: 1em 0">{% csrf_token %}
    Logget ind som {{ user.profile|display_profile }}.
    <input type="submit" value="Log ud" />
</form>
{% else %}
<form method="post" action="{% url "login" %}" style="margin: 1em 0">{% csrf_token %}
    Du er ikke logget ind.
    <input name="next" type="hidden" value="{% url 'home' %}" />
    <input name="username" placeholder="Brugernavn" size="15" />
    <input name="password" type="password" placeholder="Kodeord" size="15" />
    <input type="submit" value="Log ind" />
</form>
{% endif %}
<h2>Seneste tider</h2>
<p>
<a href="{% url 'timetrial_create' %}">Indsend ny tid</a>
·
<a href="{% url 'profile_create' %}">Opret profil</a>
</p>
{% include "kasse/timetrialtable.html" with timetrial_list=latest only %}
<p><a href="{% url 'timetrial_list' %}">Flere tider</a></p>

<h2>Bedste tider</h2>
<h3>{{ current_season }}</h3>
{% include "kasse/timetrialtable.html" with timetrial_list=current_season_best only %}
<h3>All-time</h3>
{% include "kasse/timetrialtable.html" with timetrial_list=best only %}
<p><a href="{% url 'timetrial_best' %}">Flere rekorder</a></p>

<h2>Tidligere dyster</h2>

<h3>2015</h3>
<p>Fredag 6. marts 2015</p>
<p>TÅGEKAMMERET: 2:43.4</p>
<p>@lkymia: 2:42.6</p>
<p>Tillykke til <strong>@lkymia!</strong></p>

<h3>2014</h3>
<p>Fredag 7. marts 2014</p>
<p>TÅGEKAMMERET: 2:10</p>
<p>@lkymia: 5 minutter</p>
<p>Tillykke til <strong>TÅGEKAMMERET!</strong></p>

<h3>2013</h3>
<p>Fredag 8. marts 2013</p>
<p>TÅGEKAMMERET: 2:34</p>
<p>@lkymia: 15 minutter</p>
<p>Tillykke til <strong>TÅGEKAMMERET!</strong></p>

<h3>2011</h3>
<p>Fredag 25. november 2011</p>
<p>TÅGEKAMMERET: 3:20.9</p>
<p>@lkymia: DNF</p>
<p>Tillykke til <strong>TÅGEKAMMERET!</strong></p>

<footer>
Lavet af Mathias Rav, FORM13 (snabel-a) TAAGEKAMMERET.dk
</footer>
{% endblock %}
