<p>
Du kan vælge mellem at bruge dit fornavn/fulde navn
eller din titel/dit kaldenavn.
</p>
<p>
{{ form.name }}
</p>
{{ form.name.errors }}
<p>
{{ form.association }}
{{ form.title }}
{{ form.period }}
</p>
<p class="hint">
    Har du været i TK's BEST/FU,
    så skriv det år, hvor du blev valgt
    (f.eks. 2015 for BEST/FU 15/16).
    <br />
    Har du været i @lkymias bestyrelse,
    så skriv det semester, hvor du blev valgt
    (f.eks. F16).
</p>
{{ form.association.errors }}
{{ form.title.errors }}
{{ form.period.errors }}
