{% extends "kasse/base.html" %}
{% load kasse_extras %}
{% block title %}{{ object|display_profile_plain }}{% endblock %}
{% block content %}
<h1>{{ object|display_profile_plain }}</h1>
{% if is_self %}
<p>
<a href="{% url "profile_edit" %}">Rediger profil</a>
</p>
{% elif user.is_superuser %}
<p>
<a href="{% url "profile_edit_admin" pk=object.pk %}" class="adminlink">Rediger profil</a>
</p>
{% endif %}
<p>
Tilknytning:
{% if object.association %}
{{ object.association|display_association }}
{% else %}
Ingen (independent)
{% endif %}
</p>
<p>
Yndlingsøl:
{{ object.favorite_drink|default:"(ej angivet)" }}
</p>
<p>
{{ object|display_profile_plain }}
har drukket {{ leg_count }} øl på {{ timetrial_list|length }} forsøg:
</p>
{% include "stopwatch/timetrialtable.html" with timetrial_list=timetrial_list only %}
{% endblock %}
