{% extends "kasse/base.html" %}
{% block content %}
<h1>Indsend tid</h1>
<form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <p>
    {{ form.profile.label_tag }}
    {{ form.profile }}
    </p>
    {{ form.profile.errors }}
    <p>
    {{ form.start_time.label_tag }}
    {{ form.start_time }}
    {{ form.start_time_unknown.label_tag }}
    {{ form.start_time_unknown }}
    <br />
    <span class="hint">Efterlad blank for "nu".</span>
    </p>
    {{ form.start_time.errors }}
    <p>
    Tider på de enkelte øl.
    <br />
    <span class="hint">Indtast m:ss.ss, hver øl på en linje for sig.</span>
    </p>
    <p>
    {{ form.durations }}
    </p>
    {{ form.durations.errors }}
    <p>
    <label for="{{ form.dnf.id_for_label }}" title="Did not finish">
        {{ form.dnf.label }}:
    </label>
    {{ form.dnf }}
    </p>
    {{ form.dnf.errors }}
    <input type="submit" value="Indsend tid" />
</form>
{% endblock %}
