{% extends "kasse/base.html" %}
{% block title %}Indsend tid{% endblock %}
{% load kasse_extras %}
{% block content %}
<h1>{% kasse_home %}Stopur</h1>
<form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <p>
    <label for="{{ form.profile.id_for_label }}">
    Vælg person:
    </label>
    {{ form.profile }}
    <span style="white-space: nowrap">
        <a class="nav" href="{% url 'profile_create' %}">Opret profil</a>
    </span>
    </p>
    {{ form.profile.errors }}
    <p>
    <input type="submit" name="stopwatch" value="Åbn stopur nu!" />
    </p>
</form>
{% endblock %}
