{% extends "kasse/base.html" %}
{% load kasse_extras %}
{% block title %}
{{ object.profile|display_profile_plain }}:
{{ object.leg_count }} øl på
{{ object.duration|display_duration_plain }}
{% if object.result == "dnf" %}(DNF){% endif %}
{% endblock %}
{% block content %}
<p>{{ object.profile|display_profile }}</p>
<p>Starttidspunkt: {{ object.start_time|default_if_none:"(dato ukendt)" }}</p>
<p>Total tid: {{ object.duration|display_duration }} {{ object.get_result_display }}</p>
{% for d in object.leg_set.all %}
<p>{{ d.order }}: {{ d.duration|display_duration }}</p>
{% endfor %}
{% endblock %}
