{% extends "kasse/base.html" %}
{% block title %}Indsend tid{% endblock %}
{% load kasse_extras %}
{% block head %}
<style>
    #id_legs {
        width: 3em;
    }
    .list-item-with-checkbox {
        list-style-type: none;
    }
    .list-item-with-checkbox input[type=radio] {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px 6px 0.25em -20px;
        width: 14px;
        vertical-align: middle;
    }
</style>
<script>
    function add_handlers() {
        function select(i) {
            function cb() {
                var e = document.getElementById('id_individual_times_' + i);
                if (e) e.click();
            }
            return cb;
        }
        var e0 = document.getElementById('id_durations');
        if (e0) e0.addEventListener('click', select(0), false);
        var e1 = document.getElementById('id_total_time');
        if (e1) e1.addEventListener('click', select(1), false);
    }
    window.addEventListener('load', add_handlers, false);
</script>
{% endblock %}
{% block content %}
<h1>Indsend tid</h1>
<form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <p>
    1.
    <label for="{{ form.profile.id_for_label }}">
    Vælg person:
    </label>
    {{ form.profile }}
    <a class="nav" href="{% url 'profile_create' %}">Opret profil</a>
    </p>
    {{ form.profile.errors }}
    <p>
    2a. <input type="submit" name="stopwatch" value="Åbn stopur nu!" />
    </p>
    <p>
    2b. Eller fortsæt med at indtaste tiden...
    </p>
    <p>
    {{ form.start_time.label_tag }}
    {{ form.start_time }}
    {{ form.start_time_unknown.label_tag }}
    {{ form.start_time_unknown }}
    <br />
    <span class="hint">Efterlad blank for "nu".</span>
    </p>
    {{ form.start_time.errors }}
    {{ form.individual_times.errors }}
    <ul>
        <li class="list-item-with-checkbox">
        {{ form.individual_times.0|strip_space_after_tag }}
        {{ form.individual_times.0.errors }}
        <br />
        <span class="hint">Indtast m:ss.ss, hver øl på en linje for sig.</span>
        <br />
        {{ form.durations }}
        {{ form.durations.errors }}
        </li>
        <li class="list-item-with-checkbox">
        {{ form.individual_times.1|strip_space_after_tag }}
        {{ form.individual_times.1.errors }}
        <br />
        {{ form.legs.label_tag }}
        {{ form.legs }}
        {{ form.legs.errors }}
        {{ form.total_time.label_tag }}
        {{ form.total_time }}
        {{ form.total_time.errors }}
        </li>
    </ul>
    <p>
    <label for="{{ form.dnf.id_for_label }}" title="Did not finish">
        {{ form.dnf.label }}:
    </label>
    {{ form.dnf }}
    </p>
    {{ form.dnf.errors }}
    <input type="submit" value="Indsend tid" />
</form>
{% endblock %}
