/* vim:set sw=4 et: */
body {
    font-family: sans-serif;
    margin: 24px 0;
}

.container {
    padding: 0 8px;
    margin: 0 auto;
    box-sizing: border-box;
}

nav {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    background-image:-webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image:-o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image:linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    border: 1px solid #E7E7E7;
    border-width: 1px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    min-height: 50px;
}

nav li {
    margin-right: 1em;
    line-height: 50px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        padding: 0 24px;
    }

}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

footer {
    display: block;
    font-size: 80%;
    border-top: 1px solid #999;
    padding-top: 10px;
}
a {
    text-decoration: none;
}
a:link {
    color: #00c;
}
a:visited {
    color: #808;
}
a:hover {
    text-decoration: underline;
}
.timetrial_link:visited {
    color: #00c;
}
a.nav:visited {
    color: #00c;
}
a.profile_link {
    color: #00c;
}
nav a, nav a:link, nav a:visited {
    color: #333;
}
a.adminlink, a.adminlink:link, a.adminlink:visited {
    color: red;
}
.hint {
    font-size: 14px;
    font-style: italic;
}
.ttl_all .ttl_new_date > td {
    padding-top: 10px;
}
.ttl_result {
    width: 24px;
    text-align: center;
}
.ttl_duration {
    width: 140px;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
}
.ttl_profile {
    width: 200px;
}
.ttl_result_dnf {
    color: #900;
    font-size: 12px;
    letter-spacing: -1px;
}
.ttl_start_time {
    width: 220px;
}
.ttl_residue {
    text-align: right;
    width: 70px;
}
.ttl_residue_unknown {
    text-align: center;
}

@media screen and (max-width: 504px) {
    body {
        margin: 8px 0;
    }
}

/* home.html */
div.awesomplete { vertical-align: middle; }
