body {
font-family: sans-serif;
margin: 24px;
}
footer {
display: block;
font-size: 80%;
border-top: 1px solid #999;
padding-top: 10px;
}
a {
    text-decoration: none;
}
a:link {
    color: #00c;
}
a:visited {
    color: #808;
}
a:hover {
    text-decoration: underline;
}
.timetrial_link:visited {
    color: #00c;
}
a.nav:visited {
    color: #00c;
}
a.profile_link {
    color: #006;
}
.hint {
    font-size: 14px;
    font-style: italic;
}
.ttl_result {
    width: 24px;
    text-align: center;
}
.ttl_duration {
    width: 140px;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
}
.ttl_profile {
    width: 200px;
}
.ttl_result_dnf {
    color: #900;
    font-size: 12px;
    letter-spacing: -1px;
}
.ttl_start_time {
    width: 220px;
}

@media screen and (max-width: 504px) {
    body {
        margin: 8px;
    }
}
